{% load staticfiles %}
<html>
    <head>
        <title>Task</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    </head>
    <body>
        <h1><a href="/">Timemanager</a></h1>
        <div>
          {% if user.is_authenticated %}
              <a href="{% url 'logout' %}?next={{request.path}}"><button type="button" class="btn" >Log out</button></a>
              {% block content %}
              {% endblock %}
          {% else %}
              <a  href="{% url 'login' %}?next={% url 'task_list' %}"><button type="button" class="btn">Log in</button></a>
          {% endif %}

        </div>
    </body>
</html>
