{% extends 'base.html' %}

{% block content %}

            {% if user.is_authenticated %}
            <h2 class="sub-header">List task


</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Task</th>
        <th>Create</th>
        <th>Must complete</th>
        <th>Complete</td>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td><a href="{% url 'task_detail' pk=task.pk %}">{{ task.task }}</a></td>
          <td>{{ task.create_date}} </td>
          <td>{{ task.must_complete_before }}</td>
          <td><a href="{% url 'task_detail_complete' pk=task.pk%}"><button type="button" class="btn btn-success">End</button></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<a href="{% url 'task_new' %}" class="top-menu"><button type="button" class="btn btn-success">Add task</button></a>
<a href="{% url 'task_complete_list' %}"><button type="button" class="btn btn-outline-success">My complete tasks</button></a>

{% endif %}


{% endblock content %}
