{% extends 'base.html' %}

{% block content %}


{% load widget_tweaks %}
<h1>New post</h1>
{{ form.media }}
<form method="POST" >
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ field.label_tag }}<br>

  <div class="form-group row">
    {{ form.task.errors }}
    <label for="{{ form.task.id_for_label }}" class="col-2 col-form-label">Text</label>
    <div class="col-10">
      {{ form.task }}
    </div>
  </div>

  <div class="form-group row" >
    <label for="date" class="col-2 col-form-label" >Date and time</label>
    <div class="col-10" >
      {{ form.must_complete_before }}
      <br/>
      {% if field.help_text %}
        <small style="color: grey">{{ form.must_complete_before.help_text }}</small>
        {% endif %}

    </div>
    {{ form.must_complete_before.errors }}
  </div>

  <button type="submit" class="btn btn-success">Save</button>

</form>

{% endblock %}
