{% extends 'base.html' %}
{% block content %}

  <dir>
    <p>The task " {{ task.task }} " was completed</p>
      {% if task.complete_value %}
          {{ task.un_complete_task }}
      {% else %}
          {{task.complete_task }}
      {% endif %}
    <p>Time create: {{ task.create_date}}</p>
    <p>Time complete: {{ task.complete_date }}</p>
    <a href="{% url 'task_list' %}"><button type="button" class="btn btn-success">Be back</button></a>
    <a href="{% url 'task_complete_list' %}"><button type="button" class="btn btn-outline-success">My complete tasks</button></a>
  <dir>
    
{% endblock %}
