{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

  <h2 class="sub-header">List dream</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Dream</th>
          <th>Priority dream</th>
        </tr>
      </thead>
      <tbody>
        {% for dream in dreams %}
          <tr>
            <td >{{ dream.my_dream }}</td>
            <td>{{ dream.priority_dream }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  <a href="{% url 'dreams_new' %}" class="top-menu"><button type="button" class="btn btn-success">Add task</button></a>  </div>

{% endif %}

{% endblock content %}
