{% extends 'base.html' %}
{% block content %}

  <dir>
    <p>Task: {{ task.task }}</p>


    <p>Create: {{ task.create_date|date:"D d M Y "}}{{ task.create_date|time:"H:i:s" }}</p>
    <p>Must complete: {{ task.must_complete_before|date:"D d M Y " }}{{task.must_complete_before|time:"H:i:s"}}</p>
    <p>Complete: {{  task.complete_value  }}</p>
    <p id="{{ task.create_date|date:"D d M Y " }}{{task.create_date|time:"H:i:s"}}">Have time
    <p id="{{ task.create_date|date:"D d M Y " }}{{task.create_date|time:"H:i:s"}}"></p>
                <script>
                  timer('{{ task.must_complete_before|date:"D d M Y " }}{{task.must_complete_before|time:"H:i:s"}}', '{{ task.create_date|date:"D d M Y " }}{{task.create_date|time:"H:i:s"}}');
                </script></p>
    <a href="{% url 'task_list' %}"><button type="button" class="btn btn-outline-success">Be back</button></a>

    <a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}">Edit</a>

  <dir>
{% endblock %}
