{% extends 'base.html' %}

{% block content %}

<h1>Its TOPS DREAM </h1>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Dream</th>
        <th>Rating</th>
        <th>I dream whis you</th>
        <th>App rating</th>
      </tr>
    </thead>
    <tbody>
      {% for dream in dreams %}
        <tr>
          <td >{{ dream.my_dream }}</td>
          <td></td>
          <td><button type="button" class="btn btn-link">Add me</button></td>
          <td><button type="button" class="btn btn-link">App rating</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}
